.custom-logo {
    max-width: 95px;
  }
  
  p{
    @apply text-lg
  }
  
  @layer utilities {
    .home-collage img{
      @apply w-70 h-70 object-cover rounded-xl shadow-xl transition duration-300 hover:opacity-90 hover:scale-105
    }
    .home-collage:nth-child(1) {
      @apply absolute top-0 left-15 transition duration-500;
    }
  
    .home-collage:nth-child(2) {
      @apply absolute top-35 left-24 transition duration-500;
    }
  
    .home-collage:nth-child(3) {
      @apply absolute top-5 left-15 transition duration-500;
    }
  }
  
  
  .block-sucursal p{
    @apply -mt-4 text-lg
  }
  .block-sucursal .emoji{
    @apply !mr-1
  }
  
  .btn-primary {
    @apply inline-flex rounded-full px-4 py-1.5 text-lg font-bold transition bg-primary text-white hover:bg-primary/90 !no-underline 
  }
  
  .btn-secondary {
    @apply inline-flex py-1.5 text-lg font-bold transition text-zinc-950 underline items-center
  }
  