.custom-logo {
    max-width: 95px;
  }
  
  p{
    @apply text-lg
  }
  
  @layer utilities {
    .home-collage img{
      @apply w-full h-70 object-cover rounded-xl shadow-xl transition duration-300 hover:opacity-90 hover:scale-105
    }
  }
  
  .block-sucursal p{
    @apply -mt-4 text-lg
  }
  .block-sucursal .emoji{
    @apply !mr-1
  }
  
  .btn-primary {
    @apply inline-flex rounded-full px-4 py-1.5 text-lg font-bold transition bg-primary text-white hover:bg-primary/90 !no-underline 
  }
  
  .btn-secondary {
    @apply inline-flex py-1.5 text-lg font-bold transition text-zinc-950 underline items-center
  }
  