---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro"
---

<Layout>    
    <section>
        <div class="max-w-7xl mx-auto text-zinc-800 py-8 flex flex-col md:flex-row">
            <div class="md:w-8/12 mx-auto p-4 sm:p-8 bg-zinc-100 rounded-xl">
            <h1 class="text-2xl md:text-4xl font-black tracking-tight text-zinc-950 mb-4">Sobre Nosotros</h1>
            <div class="">
                <p class="mb-4">
                    <strong>AlfaCredit, S.A.</strong> es una empresa financiera nicaragüense legalmente constituida, comprometida con la transparencia, la responsabilidad y el cumplimiento de la normativa vigente. Operamos bajo un marco regulatorio que garantiza la seguridad, confianza y protección de nuestros clientes, reafirmando nuestro carácter como una institución seria, formal y orientada al desarrollo sostenible.
                </p>
            <p class="mb-4">
                Nos especializamos en brindar soluciones financieras diseñadas para atender las necesidades reales de la micro y pequeña empresa, promoviendo el acceso responsable al crédito como una herramienta clave para el crecimiento económico y la inclusión financiera. Nuestra gestión se basa en principios éticos, buenas prácticas financieras y una atención cercana, ágil y profesional.
            </p>
            <p class="mb-4">
                En <strong>AlfaCredit, S.A.</strong> creemos firmemente que el fortalecimiento del sector MiPyme contribuye directamente al progreso económico y social de Nicaragua. Por ello, trabajamos con un enfoque humano, acompañando a nuestros clientes en cada etapa de su desarrollo productivo.      
            </p>
            <h3 class="text-xl font-bold text-zinc-800">Misión</h3>
            <p class="mb-4">
                AlfaCredit, S.A. brinda soluciones financieras a la micro y pequeña empresa de forma ágil y transparente, especializada en el microcrédito, contribuyendo al desarrollo económico y social de los nicaragüenses.
            </p>
            
            <h3 class="text-xl font-bold text-zinc-800">Visión</h3>
            <p class="mb-4">
                Ser una empresa líder en el mercado financiero dirigido estratégicamente al sector MiPyme, garantizando el progreso económico y el bienestar social de nuestros clientes, colaboradores y asociados.
            </p>
        </div>
        </div>
        </div>
    </section>
</Layout>