---
import "../styles/globals.css";
import Layout from "../layouts/Layout.astro"
---

<Layout>    
    <section>
        <div class="max-w-7xl mx-auto text-zinc-800 py-8 flex flex-col md:flex-row">
            <div class="md:w-8/12 mx-auto p-4 sm:p-8 bg-zinc-100 rounded-xl">
            <h1 class="text-2xl md:text-4xl font-black tracking-tight text-zinc-950 mb-4">Política de Cookies</h1>
            <div class="paragraph-block">
                <p>
                En <strong>AlfaCredit, S.A.</strong> utilizamos cookies y tecnologías similares con el objetivo de facilitar la navegación, garantizar el correcto funcionamiento del sitio web y obtener información estadística básica sobre su uso.
                </p>
                
                <p>
                Las cookies son pequeños archivos de información que se almacenan en el dispositivo del usuario cuando visita un sitio web. Estas permiten reconocer el navegador y recordar preferencias básicas para una mejor experiencia de navegación.
                </p>
                
                <p>
                Este sitio web utiliza únicamente cookies técnicas y de análisis básico, necesarias para su funcionamiento y para fines informativos. No se utilizan cookies con fines publicitarios ni para la recopilación de información personal sensible.
                </p>
                
                <p>
                El usuario puede configurar su navegador para aceptar, rechazar o eliminar las cookies en cualquier momento. La desactivación de algunas cookies podría afectar el correcto funcionamiento del sitio.
                </p>
                
                <p>
                Al continuar navegando en este sitio web, el usuario acepta el uso de cookies conforme a la presente Política.
                </p>
                
                <p>
                Última actualización: Enero 2026
                </p>
                
        </div>
        </div>
        </div>
    </section>
</Layout>