---
import img from "../assets/preguntas-frecuentes.webp"
---
<section class="bg-slate-50">
    <div class="max-w-7xl mx-auto py-24 flex flex-col sm:flex-row px-2 xl:px-0">
        
        <div class="">
            <h2 class="mb-4 text-2xl md:text-4xl font-black tracking-tight text-zinc-950">Preguntas frecuentes</h2>
            <ul>
                <li class="mb-2">
                    <p class="font-bold">¿A que plazo otorgan los créditos?</p>
                    <p class="">Plazo 4 meses máximo, pagos con cuotas semanales.</p>
                </li>
                <li class="mb-2">
                    <p class="font-bold">¿Qué monto me pueden aprobar?</p>
                    <p class="">1.Se realiza una evaluación para valorar su capacidad de pago.</p>
                    <p class="">2.Después de la verificacion quien le aprueba el monto es el comité de crédito.</p>
                </li>
                <li class="mb-2">
                    <p class="font-bold">¿Cuándo me visitarían?</p>
                    <p class="">En el trancurso del día que ha realizado su solicitud. </p>
                </li>
            </ul>
        </div>

        <div class="mx-auto">
            <img class="sm:scale-125" width="250" src={img.src} alt="Mascota AlfaCredit,S.A">
        </div>
    </div>
</section>