---
import logo from "../assets/logo-alfa.png";
---

<a id="logo" href="/" class="transition-transform duration-300 logo flex flex-col justify-center items-center z-10">
    <img src={logo.src} alt="Logo Empresa" width="100" class="w-18 md:w-24" />
    <div class="flex flex-col text-center">
      <span class="pb-0 text-sm md:text-lg font-black">AlfaCredit,S.A.</span>
      <span class="-mt-1 text-xs md:text-lg">Confiamos en ti...</span>
    </div>
  </a>