---
import Nav from "./Nav.astro";
import coverimage from "../assets/cover-img.webp";
import BtnRequest from "./BtnRequest.astro";
---

<div id="container">

  <main>
    <header>      
      <Nav/>
    </header>      

      <section class="bg-zinc-100 py-12">
        <div class="md:flex items-center max-w-7xl mx-auto px-2 md:px-0">
          <div class="md:w-6/12 lg:w-7/12">
            <div class="">
              <h1
                class="leading-tight text-3xl md:text-5xl font-black tracking-tight text-balance text-zinc-950"
              >
                Créditos rápidos para tu negocio.
              </h1>
              <p
                class="mt-4 text-lg md:text-xl text-zinc-800 leading-8 text-balance"
              >
                Microcréditos diseñados para emprendedores, pymes y comerciantes
                que necesitan crecer sin complicaciones.
              </p>
            </div>
            <div class="mt-2 md:mt-4">
              <BtnRequest/>
              <a href="#requisitos" class="btn-secondary ml-4">
                Ver requisitos y beneficios
              </a>
            </div>
          </div>
          <div class="mt-8 md:mt-0 md:w-6/12">
            <img src={coverimage.src} alt="Emprende con Alfacredit S A" class="rounded-md">
          </div>
          
        </div>
      </section>
  </main>
</div>

