---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Alfacredit, S.A. ofrece microcréditos rápidos y personalizados para emprendedores, PYMES y comerciantes en Nicaragua. Procesos ágiles, transparencia total, acompañamiento personalizado y beneficios como seguro INISER sin costo adicional. ¡Solicita tu crédito hoy!">
		<meta property="og:title" content="Alfacredit, S.A. | Créditos Rápidos y Personalizados en Nicaragua">
		<meta property="og:description" content="Ofrecemos microcréditos rápidos y soluciones de financiamiento para emprendedores, PYMES y comerciantes en Nicaragua con atención personalizada y procesos ágiles.">
		<meta property="og:image" content="https://alfacreditsa.com/alfacredit-sa-social.webp">
		<meta property="og:url" content="https://alfacreditsa.com/">
		<meta property="og:type" content="website">

		<title>Alfacredit, S.A. | Créditos Rápidos para Emprendedores, PYMES y Comerciantes en Nicaragua</title>
	</head>
	<body>
		<header class="relative">
			<Nav/>
		</header>  
		<main class="mt-[104px]">
			<slot/>
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
